language: python
 notifications:
    slack: gstevenson:CI3OzKB01Tgfkut0TS5g5Udc
    email: false
python:
  - "3.5"
before_install:
  - mv travis_secrets.yaml secrets.yaml
install:
  - pip3 install homeassistant
script:
  - hass -c . --script check_config
