- alias: Turn on office lights on motion
  trigger:
  - entity_id: binary_sensor.office_sensor
    platform: state
    to: 'on'
  action:
  - data:
      entity_id: switch.desk_lights_switch
    service: switch.turn_on

- alias: Turn off office lights when there is no longer any motion
  trigger:
  - platform: state
    entity_id: binary_sensor.office_sensor
    for:
      minutes: 10
    to: 'off'
  action:
  - service: switch.turn_off
    data:
        entity_id: switch.desk_lights_switch

- alias: Turn on dining room light and disable alerts when someone comes home
  trigger:
  - entity_id: group.family
    platform: state
    to: home
  condition:
  - after: sunset
    after_offset: -02:00:00
    condition: sun
  action:
    - service: light.turn_on
      data:
        entity_id: light.dining_room

- alias: Enable security and send when house becomes empty
  trigger:
  - entity_id: group.family
    platform: state
    to: not_home
  action:
  - service: notify.slack
    data:
      message: ":information_source: House is now empty. Enabling motion sensor alerts..."
  - service: input_boolean.turn_on
    data:
      entity_id: input_boolean.enable_security

- alias: Disable security when house is no longer empty
  trigger:
  - entity_id: group.family
    platform: state
    to: not_home
  action:
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.enable_security

- alias: Motion alert
  trigger:
  - entity_id: group.all_motion_sensors
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: input_boolean.enable_security
    state: 'on'
  action:
  - service: script.notify_on_motion_alert

- alias: Low battery alert
  trigger:
    platform: numeric_state
    entity_id:
    - sensor.gregs_ipad_battery_level
    - sensor.gregs_iphone_8_battery_level
    - sensor.lynette_iphone_battery_level
    below: 20
  action:
  - service: notify.slack
    data_template:
      message: '{{ trigger.to_state.attributes.friendly_name }}''s is less than: 20%'

- alias: Low outside temperature
  trigger:
    platform: numeric_state
    entity_id: sensor.dark_sky_apparent_temperature
    below: 0
  action:
  - service: script.notify_of_low_temp

- alias: Update notifications
  trigger:
    platform: state
    entity_id: updater.updater
  action:
    service: notify.slack
    data:
      message: 'There is a new Home Assistant release available.'

- alias: Enable internal camera recording
  trigger:
    - platform: state
      entity_id: input_boolean.enable_security
      to: 'on'
  action:
  - service: script.enable_camera_detection

- alias: Disable internal camera recording
  trigger:
    - platform: state
      entity_id: input_boolean.enable_security
      to: 'off'
  action:
  - service: script.disable_camera_detection

- alias: Turn on electric blanket
  trigger:
    - platform: time
      at: '18:30:00'
  action:
  - service: switch.turn_on
    data:
      entity_id: switch.electric_blanket

- alias: Turn off electric blanket
  trigger:
    - platform: time
      at: '23:00:00'
  action:
  - service: switch.turn_off
    data:
      entity_id: switch.electric_blanket