/* SVG shapes */

svg, svg * {
  pointer-events: all;
    background-color: var(--primary-background-color);
}

.transparent {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

.unclickable {
  pointer-events: none;
}

.invisible {
  display: none;
}

.light-off {
  fill: #c9caccff !important;
}

.light-on {
  fill: rgb(239, 248, 185) !important;
}

.device-home {
  fill: #acc681 !important;
}

.device-away {
  fill: #c95454 !important;
}